$colorOne = black;
$colorTwo = white;
$colorThree = teal;
.homeSection {
  width:100%;
  padding:30px;
}

.homeSection:nth-child(odd) {
  background-color: $colorOne;
}

.homeSection:nth-child(even) {
  background-color: $colorTwo;
}
