{
  "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "plugin:lodash/recommended"
    ],
    "plugins": [
      "babel",
      "lodash",
      "react",
      "promise"
    ],
    "env": {
      "browser" : true
    },
    "globals": {
      "__DEV__"      : false,
      "__TEST__"     : false,
      "__PROD__"     : false,
      "__COVERAGE__" : false,
      "__URL_CONFIG__" : false
    },
    "settings": {
      "import/resolver": {
        "webpack":{
          "config": "config/webpack.config.js"
        }
      }
    },
    "rules": {
      "jsx-quotes"           : [2, "prefer-single"],
      "max-len"              : [1, 100, 2],
      "import/no-named-as-default" : 0,
      "react/jsx-filename-extension" : 0,
      "no-param-reassign": ["error", { "props": false }],
      "no-mixed-operators": 1,
      "no-underscore-dangle": 0,
      "import/no-unresolved": [2,{"ignore":[ 'rxjs']}],
      "func-names":0,
      "lodash/prefer-lodash-method": 0,
    },
}
