{
  "extends" : "../.eslintrc",
    "env"     : {
      "mocha" : true
    },
    "rules"    : {
      "no-unused-expression": 0
    },
    "globals" : {
      "expect" : true,
      "should" : false,
      "sinon"  : false
    }
}
