.date-inputs {
  > div > div > div {
    width:100% !important;
  }
}

.frequency-inputs {
  padding-bottom: 20px;

  h4 {
    margin-bottom: 16px;
  }

  > div > div {
    margin-bottom: 5px;
  }

  .frequency-tool-tip {
    height: 20px !important;
    width: 20px !important; 
  }

  input {
    margin-bottom: 10px !important;
  }
}

.two-dimension-data-table {
  margin-bottom: 20px !important;
}
