.two-dimension-table {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .two-dimension-table tr td:first-child {
    background-color: #FF9F1C !important;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    color: #FDFFFC !important; }
  .two-dimension-table tr:hover {
    background-color: white !important; }
  .two-dimension-table thead tr th {
    background-color: #FF9F1C; }
  .two-dimension-table thead tr th:first-child {
    border-bottom: 0px; }
  .two-dimension-table thead tr th:not(:first-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #FDFFFC !important; }
