.routeActive {
  font-weight: bold;
}

.mainAppBar {
  button {
    width:4.5rem !important;
    height:4.5rem !important;
    margin-right:2px;
  }
}

.logo {
  font-size:2.6rem !important;
}
