.routeActive {
  font-weight: bold;
}

.brand-header {
  vertical-align: middle;
  z-index: 100;
  
  * {
    vertical-align: middle;
  }

  .logo {
    height: 30px;
    margin-right: 10px;
  }
}

.app-bar {
  z-index: 1400 !important;
  position: fixed !important;
}
