.react-tagsinput{
	border:1px solid #e2e2e2;
	margin-bottom:15px;
	margin-top:20px;

	input {
		width: 200px;
		font-family: sans-serif;
		font-size: 1.6rem;
		color: #212121;
	}
}

.react-tagsinput-tag{
	font-family: sans-serif;
	font-size: 1.6rem;
	color: #212121;
}

.calcSubtitle {
	margin-top:20px;
}

.idleAnimation {
	padding-top:20px;
	min-height:200px;
	p {
		color:#999;
		text-align:center;
		font-style: italic;
	}
}

@-webkit-keyframes slide-in {
	0%   { 
		max-height:0;
		opacity: 0; 
	}
	100% { 
		max-height:100px;
		opacity: 1; 
	}
}
@-moz-keyframes slide-in {
	0%   { 
		max-height:0;
		opacity: 0; 
	}
	100% { 
		max-height:100px;
		opacity: 1; 
	}
}
@-o-keyframes slide-in {
	0%   { 
		max-height:0;
		opacity: 0; 
	}
	100% { 
		max-height:100px;
		opacity: 1; 
	}
}
@keyframes slide-in {
	0%   { 
		max-height:0px;
		opacity: 0; 
	}
	100% { 
		max-height:100px;
		opacity: 1; 
	}
}

@-webkit-keyframes slide-out {
	0%   { 
		max-height:100px;
		opacity: 1; 
	}
	100% { 
		max-height:0;
		opacity: 0; 
	}
}
@-moz-keyframes slide-out {
	0%   { 
		max-height:100px;
		opacity: 1; 
	}
	100% { 
		max-height:0;
		opacity: 0; 
	}
}
@-o-keyframes slide-out {
	0%   { 
		max-height:100px;
		opacity: 1; 
	}
	100% { 
		max-height:0;
		opacity: 0; 
	}
}
@keyframes slide-out {
	0%   { 
		max-height:100px;
		opacity: 1; 
	}
	100% { 
		max-height:0px;
		opacity: 0; 
	}
}

.portfolio-row {
	overflow:hidden;
}
.portfolio-row-enter {
  max-height:100px;
  opacity: 1; 
	-webkit-animation: slide-in .15s ease-in; /* Safari 4+ */
	-moz-animation:    slide-in .15s ease-in; /* Fx 5+ */
	-o-animation:      slide-in .15s ease-in; /* Opera 12+ */
	animation:         slide-in .15s ease-in; /* IE 10+, Fx 29+ */
}

.portfolio-row-leave {
  max-height:0;
  opacity: 0; 
	-webkit-animation: slide-out .2s ease-in; /* Safari 4+ */
	-moz-animation:    slide-out .2s ease-in; /* Fx 5+ */
	-o-animation:      slide-out .2s ease-in; /* Opera 12+ */
	animation:         slide-out .2s ease-in; /* IE 10+, Fx 29+ */
}
