.price-inputs {
  padding-bottom:20px;
  > div > div {
    width:100% !important;
  }
}

.calcSubtitle {
  margin-top:20px;
}

.idleAnimation {
  padding-top:20px;
  min-height:200px;
  p {
    color:#999;
    text-align:center;
    font-style: italic;
  }
}

.limitOrderCalc{
  font-size:18px;

  .percentSuccess {
    font-size:30px;
    padding-left:7px;
    padding-right:7px;
  }

  .colorGood {
    color:green;
  }

  .colorMed {
    color:orange;
  }

  .colorBad {
    color:red;
  }
}

